In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('train.csv')

In [3]:
train_df = train_df.select_dtypes(exclude=object)

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   LotFrontage    1201 non-null   float64
 3   LotArea        1460 non-null   int64
 4   OverallQual    1460 non-null   int64
 5   OverallCond    1460 non-null   int64
 6   YearBuilt      1460 non-null   int64
 7   YearRemodAdd   1460 non-null   int64
 8   MasVnrArea     1452 non-null   float64
 9   BsmtFinSF1     1460 non-null   int64
 10  BsmtFinSF2     1460 non-null   int64
 11  BsmtUnfSF      1460 non-null   int64
 12  TotalBsmtSF    1460 non-null   int64
 13  1stFlrSF       1460 non-null   int64
 14  2ndFlrSF       1460 non-null   int64
 15  LowQualFinSF   1460 non-null   int64
 16  GrLivArea      1460 non-null   int64
 17  BsmtFullBath   1460 non-null   int64
 18  BsmtHalfBath   1460 non-null   int64
 19  FullBath       1460 non-null   int64
 20  HalfBath       1460 non-null   int64
 21  BedroomAbvGr   1460 non-null   int64
 22  KitchenAbvGr   1460 non-null   int64
 23  TotRmsAbvGrd   1460 non-null   int64
 24  Fireplaces     1460 non-null   int64
 25  GarageYrBlt    1379 non-null   float64
 26  GarageCars     1460 non-null   int64
 27  GarageArea     1460 non-null   int64
 28  WoodDeckSF     1460 non-null   int64
 29  OpenPorchSF    1460 non-null   int64
 30  EnclosedPorch  1460 non-null   int64
 31  3SsnPorch      1460 non-null   int64
 32  ScreenPorch    1460 non-null   int64
 33  PoolArea       1460 non-null   int64
 34  MiscVal        1460 non-null   int64
 35  MoSold         1460 non-null   int64
 36  YrSold         1460 non-null   int64
 37  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35)
memory usage: 433.6 KB

In [5]:
test_df = pd.read_csv('test.csv')

In [6]:
test_df = test_df.select_dtypes(exclude=object)

In [7]:
features = ["LotArea", "OverallQual", "YearBuilt", "1stFlrSF", "2ndFlrSF", "GrLivArea", "FullBath", "BedroomAbvGr", "KitchenAbvGr", "Fireplaces", "GarageArea", "OpenPorchSF", "PoolArea","YrSold"]

In [8]:
x_train = train_df[features]

In [9]:
for i in features:
    x_train[i].fillna(train_df[i].mean())

In [10]:
#test
x_train['OverallQual'].isna().sum()

0

In [11]:
y_train = train_df["SalePrice"]

In [53]:
x_test = test_df[features]
x_test['GarageArea'] = x_test['GarageArea'].fillna(test_df['GarageArea'].mean())
#test
x_test.isna().sum()

C:\Users\Febri\AppData\Local\Temp\ipykernel_16144\356876375.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test['GarageArea'] = x_test['GarageArea'].fillna(test_df['GarageArea'].mean())

LotArea         0
OverallQual     0
YearBuilt       0
1stFlrSF        0
2ndFlrSF        0
GrLivArea       0
FullBath        0
BedroomAbvGr    0
KitchenAbvGr    0
Fireplaces      0
GarageArea      0
OpenPorchSF     0
PoolArea        0
YrSold          0
dtype: int64

In [43]:
for i in features:
    x_test[i].fillna(train_df[i].mean())

In [44]:
from sklearn.ensemble import RandomForestClassifier

In [45]:
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=20)

In [46]:
model.fit(x_train, y_train)

RandomForestClassifier(max_depth=5, random_state=20)

In [47]:
predict = model.predict(x_test)

In [49]:
test_df.Id

0       1461
1       1462
2       1463
3       1464
4       1465
        ...
1454    2915
1455    2916
1456    2917
1457    2918
1458    2919
Name: Id, Length: 1459, dtype: int64

In [50]:
output = pd.DataFrame({'Id': test_df.Id, 'SalePrice': predict})

In [51]:
output.to_csv('submission.csv', index=False)

In [52]:
output

        Id  SalePrice
0     1461     110000
1     1462     140000
2     1463     140000
3     1464     181000
4     1465     180000
...    ...        ...
1454  2915      75000
1455  2916      75000
1456  2917     140000
1457  2918     144000
1458  2919     250000

[1459 rows x 2 columns]